{% extends "base.html" %} {% block title %}People Results{% endblock %} 

{% block contentHeader %} Here are the people we found {% endblock %}

{% block content
    %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for (pid, name, tid, title) in tuples %}
            <tr>
              <td><a href="/person_info?personid={{pid}}&name={{name}}">{{ name }}</a></td>
              <td><a href="/movie_info?titleid={{tid}}&moviename={{title}}">{{ title }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}

    
