{% extends "base.html" %} {% block title %}Search Movies{% endblock %} 

{% block contentHeader %} Search for Shows {% endblock %}

{% block content
  %}
  <form method="POST">
    <br/>
    <div class="form-group">
      <label for="series_name">Name or part of series name</label>
      <input
        type="text"
        class="form-control"
        id="series_name_substr"
        name="series_name_substr"
        placeholder="Part of name"
      />
    </div>
   
    <br />
    <br />

    <div class="clause">
      <div class="label">

        <h5>Season Number</h5>
      </div>
      <div class="inputs">

        <input name="s_num_start" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="min" > to <input name="s_num_end" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="max">

      </div>
    </div>

    <br />
    <br />

    <div class="clause">
      <div class="label">

        <h5>Episode Number</h5>
      </div>
      
      <div class="inputs">

        <input name="ep_num_start" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="min"> to <input name="ep_num_end" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="max">

      </div>

      <br />
    <br />

      <div class="clause">
        <div class="label">

          <h5>Minimum number of episodes</h5>
        </div>
        
        <div class="inputs">

          <input name="min_eps" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="min"> to <input name="max_eps" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="max">

        </div>


    </div>

    <br />
    <br />

    <!-- <div class="clause">
      <div class="label">
        <h5>Release Date<img id="ilm_help_button_release_date" class="ilm_help_button" src="https://m.media-amazon.com/images/G/01/IMDb/Search/icon_help._CB478096481_.gif" title="If you would like to search for titles released before, on, or after certain dates(e.g. titles released on March 13th, 1987 or later), put 1987-03-13 in the first date box, and leave the second box blank. If you would like to search for titles released before a certain date (e.g. titles released no later than 1952), leave the first box blank, and put 1952 in the second box. If you would like to search for titles released between two dates, put the earlier date in the first box and the later date in the second box.">
        </h5>
      </div>
      <div class="inputs">
        <input name="release_date-min" size="11" maxlength="11"> to <input name="release_date-max" size="11" maxlength="11">
        <br><i>Format: YYYY</i>
      </div>
    </div>
    <br />
    <br />

    <div class="clause">
      <div class="label">

        <h5>Popularity
          
        

      </div>
      <div class="inputs">

        <input name="moviemeter-min" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this) class="form-control" "> to <input  class="form-control" name="moviemeter-max" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" style="width: 100px; display: inline-block;">

      </div>
    </div>
    <br /> -->
    

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  {% endblock %}
  
  {% block javascript %} 
  
  <script>
    const popover = new bootstrap.Popover('.example-popover', {
      container: 'body'
    })
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>

  {% endblock %}
