{% extends "base.html" %} {% block title %}Search People{% endblock %} 

{% block contentHeader %} Search for TV Shows  {% endblock %}

{% block content
    %}
    <form method="POST">
      <br/>
      <div class="form-group">
        <label for="movie_name">Name or part of name</label>
        <input
          type="text"
          class="form-control"
          id="subsrting_tolookfor"
          name="subsrting_tolookfor"
          placeholder="Part of name"
        />
      </div>
     
      <br />
      <br />
      <div class='clause'>
      <div class="label">
        <h5>Genres</h5>
      </div>
      <div class="inputs">
        <table>
          <tbody>
          <tr>
            <td><input id="genres-1" type="checkbox" class="form-check-input" name="genres" value="action"> <label for="genres-1">Action</label></td>
            <td><input id="genres-2" type="checkbox" class="form-check-input" name="genres" value="adventure"> <label for="genres-2">Adventure</label></td>
            <td><input id="genres-3" type="checkbox" class="form-check-input" name="genres" value="animation"> <label for="genres-3">Animation</label></td>
            <td><input id="genres-4" type="checkbox" class="form-check-input" name="genres" value="biography"> <label for="genres-4">Biography</label></td>
          
            <td><input id="genres-5" type="checkbox" class="form-check-input" name="genres" value="comedy"> <label for="genres-5">Comedy</label></td>
            <td><input id="genres-6" type="checkbox" class="form-check-input" name="genres" value="crime"> <label for="genres-6">Crime</label></td>
            <td><input id="genres-7" type="checkbox" class="form-check-input" name="genres" value="documentary"> <label for="genres-7">Documentary</label></td>

          </tr>
          <tr>

            <td><input id="genres-8" type="checkbox" class="form-check-input" name="genres" value="drama"> <label for="genres-8">Drama</label></td>
          
            <td><input id="genres-9" type="checkbox" class="form-check-input" name="genres" value="family"> <label for="genres-9">Family</label></td>
            <td><input id="genres-10" type="checkbox" class="form-check-input" name="genres" value="fantasy"> <label for="genres-10">Fantasy</label></td>
            <td><input id="genres-11" type="checkbox" class="form-check-input" name="genres" value="film_noir"> <label for="genres-11">Film-Noir</label></td>
            <td><input id="genres-12" type="checkbox" class="form-check-input" name="genres" value="game_show"> <label for="genres-12">Game-Show</label></td>
          
            <td><input id="genres-13" type="checkbox" class="form-check-input" name="genres" value="history"> <label for="genres-13">History</label></td>
            <td><input id="genres-14" type="checkbox" class="form-check-input" name="genres" value="horror"> <label for="genres-14">Horror</label></td>

          </tr>
          <tr>

            <td><input id="genres-15" type="checkbox" class="form-check-input" name="genres" value="music"> <label for="genres-15">Music</label></td>
            <td><input id="genres-16" type="checkbox" class="form-check-input" name="genres" value="musical"> <label for="genres-16">Musical</label></td>
            <td><input id="genres-17" type="checkbox" class="form-check-input" name="genres" value="mystery"> <label for="genres-17">Mystery</label></td>
            <td><input id="genres-18" type="checkbox" class="form-check-input" name="genres" value="news"> <label for="genres-18">News</label></td>
            <td><input id="genres-19" type="checkbox" class="form-check-input" name="genres" value="reality_tv"> <label for="genres-19">Reality-TV</label></td>
            <td><input id="genres-20" type="checkbox" class="form-check-input" name="genres" value="romance"> <label for="genres-20">Romance</label></td>

            <td><input id="genres-21" type="checkbox" class="form-check-input" name="genres" value="sci_fi"> <label for="genres-21">Sci-Fi</label></td>
          </tr>
          <tr>

            <td><input id="genres-22" type="checkbox" class="form-check-input" name="genres" value="sport"> <label for="genres-22">Sport</label></td>
            <td><input id="genres-23" type="checkbox" class="form-check-input" name="genres" value="talk_show"> <label for="genres-23">Talk-Show</label></td>
            <td><input id="genres-24" type="checkbox" class="form-check-input" name="genres" value="thriller"> <label for="genres-24">Thriller</label></td>
          </tr>
          <tr><td><input id="genres-25" type="checkbox" class="form-check-input" name="genres" value="war"> <label for="genres-25">War</label></td>
            <td><input id="genres-26" type="checkbox" class="form-check-input" name="genres" value="western"> <label for="genres-26">Western</label></td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
     
    <br />
      <br />

      <div class="clause">
        <div class="label">

          <h5>Number of Votes<img id="ilm_help_button_num_votes" class="ilm_help_button" src="https://m.media-amazon.com/images/G/01/IMDb/Search/icon_help._CB478096481_.gif" title="To restrict your search by number of votes, enter a minimum value in the first box to get titles with more than that number of votes, and/or a maximum value in the second box to get titles with less than that number of votes. Remember, neither is required, so if you want only titles that have at least 1000 votes, all you have to enter is 1000 in the first box, and you can leave the maximum box blank. We do not include rating counts less than five.">
          </h5>
        </div>
        <div class="inputs">

          <input name="num_votes-min" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="min votes" > to <input name="num_votes-max" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="max">

        </div>
      </div>
      <br />
      <br />

      <div class="clause">
        <div class="label">

          <h5>User Rating</h5>
        </div>
        
        <div class="inputs">

          <input name="num_votes-min" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="min"> to <input name="num_votes-max" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="max">

        </div>

        <br />
      <br />

        <div class="clause">
          <div class="label">
  
            <h5>Runtime</h5>
          </div>
          
          <div class="inputs">
  
            <input name="num_votes-min" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="min"> to <input name="num_votes-max" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" placeholder="max">
  
          </div>


      </div>

      <br />
      <br />

      <div class="clause">
        <div class="label">
          <h5>Release Date<img id="ilm_help_button_release_date" class="ilm_help_button" src="https://m.media-amazon.com/images/G/01/IMDb/Search/icon_help._CB478096481_.gif" title="If you would like to search for titles released before, on, or after certain dates(e.g. titles released on March 13th, 1987 or later), put 1987-03-13 in the first date box, and leave the second box blank. If you would like to search for titles released before a certain date (e.g. titles released no later than 1952), leave the first box blank, and put 1952 in the second box. If you would like to search for titles released between two dates, put the earlier date in the first box and the later date in the second box.">
          </h5>
        </div>
        <div class="inputs">
          <input name="release_date-min" size="11" maxlength="11"> to <input name="release_date-max" size="11" maxlength="11">
          <br><i>Format: YYYY</i>
        </div>
      </div>
      <br />
      <br />

      <div class="clause">
        <div class="label">

          <h5>Popularity<img id="ilm_help_button_num_votes" class="ilm_help_button" src="https://m.media-amazon.com/images/G/01/IMDb/Search/icon_help._CB478096481_.gif" title="To restrict your search by popularity ranking, enter a minimum value in the first box to get titles rank order starting with the entered value (1 being the highest ranked title), and/or a maximum value in the second box to get titles with popularity ranking up to that value. Remember, neither is required, so if you want only titles that rank in the top 10, all you have to enter is 10 in the second box, and you can leave the first box blank."></h5>
        </div>
        <div class="inputs">

          <input name="moviemeter-min" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this) class="form-control" "> to <input  class="form-control" name="moviemeter-max" size="10" onkeyup="forceNumeric(this)" onchange="forceNumeric(this)" style="width: 100px; display: inline-block;">

        </div>
      </div>
      <br />
      

      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% endblock %}
    